*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-yellow: #fbffa7;
  --clr-lavender: #d5b3ff;
  --clr-orange: #ff764d;
  --clr-mint: #b6ffc0;
  --clr-lightblue: #b1c5ff;
  --clr-blue: #0000ff;
}

html,
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
